<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportpassword.bm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.LoginActivity" />
        <activity android:name=".Controllers.RegisterActivity" />
        <activity android:name=".Controllers.BaseActivity" />
        <activity android:name=".Controllers.ForgetPasswordActivity" />
        <activity android:name=".Controllers.UpdatePasswordActivity" />
        <activity android:name=".Controllers.AccountActivity" />
        <activity android:name=".Controllers.AccountUpdate1Activity" />
        <activity android:name=".Controllers.ShowActivity" />
        <activity android:name=".Controllers.ShowTempPlayActivity" />
        <activity android:name=".Controllers.EditTeamActivity" />
        <activity android:name=".Controllers.EditTeamItemActivity" />
        <activity android:name=".Controllers.TeamTempPlayEditActivity" />
        <activity android:name=".Controllers.TestActivity" />
        <activity android:name=".Controllers.SplashActivity" />
        <activity android:name=".Controllers.TeamManagerActivity" />
        <activity android:name=".Controllers.TeamManagerFunctionActivity" />
        <activity android:name=".Controllers.ValidateActivity" />
        <activity
            android:name=".Controllers.TempPlaySignupOneVC"
            android:exported="true" />
        <activity android:name=".Controllers.TempPlayDateVC" />
        <activity android:name=".Controllers.TempPlayDatePlayerVC" />
        <activity android:name=".Controllers.BlackListVC" />
        <activity android:name=".Controllers.ArenaVC" />
        <activity android:name=".Controllers.CourseVC" />
        <activity android:name=".Controllers.MoreVC"></activity>
    </application>

</manifest>